<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKoZkOpOMzD6pKGqjKyoeFYMgMMK6Fhdc</string>
	<key>GCM_SENDER_ID</key>
	<string>643072962439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobPortalAdminApp</string>
	<key>PROJECT_ID</key>
	<string>job-portal-admin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>job-portal-admin-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643072962439:ios:dc847232abe2387050ed22</string>
</dict>
</plist>